<nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <div class="row">
            <div class="col-md-5 mt-3">
              <img src="https://www.nicepng.com/png/detail/150-1507152_dollars-comments-money-symbol-vector-png.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
            </div>
            <div class="col-md-5 mt-3">
              <h2>Nmap Bank</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </nav>